<div name="navigation" class="navigation">
    <img src="logo.svg" class="h-full rounded-full" />
    <a href="/invite" class="title link text-6xl font-bold title">Invite</a>
   <center><div class="text-6xl font-bold title"><span class="grPageTitle">Emojicord</span></div></center>
    <a href="/docs" class="title link text-6xl font-bold title">Docs</a>
    <a href="/support" class="title link text-6xl font-bold title">Support</a>
</div>