@page "/"
@page "/index.html"
@page "/home"
@page "/index"

<div class="mt-10 text-white text-center pb-12">
    <Navbar />
    <div class="text-4xl font-bold title non-important">In Closed-Beta.</div>
    <br />
    <br />
    <main class="featureMain">
        <div class="featureContainer">
            <div class="text-6xl font-bold title">So, what does it do?</div>
            <br />
            <div class="featureCards">
                <Does Title="Create emojis, with customization" Description="Create emojis easily without having to go round them in photoshop!" />
                <Does Title="Edit emojis" Description="Edit emojis quick and easy, yes even on mobile!" />
                <Does Title="Lock emojis" Description="Want subscriber only emojis? No problem, just lock them up to a role or user(s)!" />
                <Does Title="Preload emojis" Description="Get premade emojis from the bot developers, to community made emojis!" />
            </div>
            <br />
            <br />
            @*<div class="text-6xl font-bold title">How does it work?</div>*@

        </div>
    </main>
</div>